<div ng-include="'views/nav.html'"></div>

<div class="container">
  <div class="photos">
    <article class="photo" ng-repeat="photo in photos" data-id="{{photo.id}}">
      <header>
        <img src="http://www.fillmurray.com/50/50" alt="" />
        <div class="">
          <a href="#/detail/{{photo.id}}">{{photo.title}}</a>
        </div>
        <a href="#">{{photo.dt}}</a>
      </header>
      <div class="pContain">
          <img ng-src="{{photo.image}}" alt="" />
          <div class="like" ng-controller="LikesController">
          <span ng-click="addLike(photo)">&#9825;</span>
          </div>
      </div>
    </article>
  </div>
</div>
